{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{% static 'css/base.css' %}"  rel="stylesheet">
    <title>Recover Forget Password !!</title>

  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Registrations Form -->
  <div class="card text-center" style="max-width:25rem;margin:auto;margin-top:70px;">
  <div class="card-header" style="background:#417690">
   <font style="color:white;font-size:18px;font-family: Verdana;"> Forget Password</font>
  </div>
  <div class="card-body bg-light">

      <!--Form Here-->
      <form action="{% url 'varify_reset_password_otp' %}" method="POST">
        {% csrf_token %}
  <div class="form-group">
    <label for="formGroupExampleInput">Otp Sended Successfully</label>
    <input type="text" name="otp" class="form-control" id="formGroupExampleInput" placeholder="Enter 4 Digit OTP " required>
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">Enter New Password</label>
    <input type="text" name="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter New Password" required>
  </div>
          <input type="submit" name="submit" value="Verify OTP" class="btn btn-info" >
          <p>Resend OTP <a href="{% url 'resend-reset-password-otp' %}"> Resend </a></p>
        <p style="color:red;">{% if msg is not None %}{{ msg }}{% endif  %}</p>
</form>
      <!-- End Form -->
  </div>
</div>

  </body>
</html>